body {

font-family: Arial, sans-serif;

text-align: center;

background-color: pink;
color: white;

border-color:green;

border-width: 10px;


border-style: solid;
}


.container {

max-width: 800px;


margin: auto;


padding: 20px;

}


input[type="file"] {


margin: 20px 0;

}


.gallery {


display: flex;

justify-content: center;
flex-wrap: wrap;
gap: 15px;

margin-bottom: 20px;
}

.gallery img {
width: 500px;
height: 550px;
object-fit: cover;


border: 2px solid #ccc;

border-radius: 10px;
transition: transform 0.35;
 }


gallery img:hover {


transform: scale(1.05);


}


#nextBtn {


padding: 10px 20px;

font-size: 16px;

cursor: pointer;

}


#previousBtn{

padding: 10px 20px;

font-size: 16px;

cursor: pointer;

background-color: white;

color: black;


}

li:hover{

color: black;

}